{% extends "Base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<form method="POST" action="Goals">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.goal_name.label }} {{ form.goal_name() }}<br><br>
    {{ form.existing_bool.label }} {{ form.existing_bool() }}<br>
    {{ form.group_name_select.label }} {{ form.group_name_select() }}
    {{ form.group_name.label }} {{ form.group_name() }}
    <br>
    <br>
    <br>
    {{ form.existing_bool2.label }} {{ form.existing_bool2() }}<br>
    {{ form.progress_name_select.label }} {{ form.progress_name_select() }}
    {{ form.progress_name.label }} {{ form.progress_name() }}
    <br>
    <br>
    <br>
    {{ form.start_progress.label }} {{ form.start_progress() }}
    <br>
    {{ form.end_progress.label }} {{ form.end_progress() }}
    <br>
    {{ form.start_date.label }} {{ form.start_date() }}
    <br>
    {{ form.end_date.label }} {{ form.end_date() }}
    <br>
    {{ form.progress_type.label }} {{ form.progress_type() }}
    <br>
    {{ form.units.label }} {{ form.units() }}
    <br>
    <br>
    <h3>Increment Visibility Options</h3>
    {{ form.today.label }} {{ form.today() }}
    {{ form.week.label }} {{ form.week() }}
    {{ form.month.label }} {{ form.month() }}
    {{ form.quarter.label }} {{ form.quarter() }}
    {{ form.year.label }} {{ form.year() }}
    {{ form.historical.label }} {{ form.historical() }}
    <br><br>
    {{ form.submit() }}
</form>



{% endblock %}
