{% extends "Base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<form method="POST" action="Group">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.group_name.label }} {{ form.group_name() }}<br><br>
    {{ form.submit() }}
</form>

<br>
<br>
<h3>Current Groups</h3>
{% for g in  cur_groups  %}
 {{ g }}
{% endfor %}

{% endblock %}
