{% extends "Base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<form method="POST" action="Progress">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.progress_name.label }} {{ form.progress_name() }}<br>
    {{ form.units.label }} {{ form.units() }}<br>
    {{ form.progress_type.label }} {{ form.progress_type() }}<br>
    {{ form.starting_value.label }} {{ form.starting_value() }}<br>
    {{ form.submit() }}
</form>

<br>
<br>


{% endblock %}
