{% extends "Base.html" %}

{% block content %}

<form action={{ url_for('create.update_progress_page') }} method="POST" >
<select name="goal" id="goal">
  {% for g in goals %}
   <option value="{{g}}">{{g}}</option>
  {% endfor %}

</select>
<input type="submit" value="Load">
</form>


<table>
  {% for w in work_log %}
  <form action={{ url_for('create.update_progress_page') }} method="POST" >
  <tr>
  <td>
{{ w[0] }}
</td>
<td>

<input type="text" id="update_val" name="update_val" value={{w[1]}}>
 <input type="hidden" id="goal" name="goal" value={{ goal }}>
 <input type="hidden" id="date" name="date" value={{ w[0] }}>
   </td>
   <td>
   <input type="submit" value="Update Progress">
   </td>
   </tr>
   </form>
  {% endfor %}
</table>

{% endblock %}
