{% extends "Base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}


<form action={{ url_for('create.view_progress_page') }} method="POST" >
<select name="goal" id="goal">
  {% for g in goals %}
   <option value="{{g}}">{{g}}</option>
  {% endfor %}

</select>
<input type="submit" value="Load">
</form>

{% if progress_data %}
<br><br>
    <p>Progress Name: {{ progress_data["Progress Name"] }}</p>
    
      <form action={{ url_for('create.view_progress_page') }} method="POST" >

 <input type="hidden" id="progress" name="progress" value='{{ progress_data["Progress Name"] }}'>
  <input type="submit" value="Retire Progress">
  </form>
{% endif %}

{% endblock %}
