{% extends "BaseDT.html" %}

{% block content %}
<script>$(document).ready( function () {
    $('#Today').DataTable({
    "paging":   false,
    });
} );
$(document).ready( function () {
    $('#Week').DataTable({
    "paging":   false,
    });
} );
$(document).ready( function () {
    $('#Month').DataTable({
    "paging":   false,
    });
} );
$(document).ready( function () {
    $('#Quarter').DataTable({
    "paging":   false,
    });
} );
$(document).ready( function () {
    $('#Year').DataTable({
    "paging":   false,
    });
} );
$(document).ready( function () {
    $('#All').DataTable({
    "paging":   false,
    });
} );</script>


{{tables|safe}}

{% endblock %}
