{% extends "Base.html" %}

{% block content %}

      {% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<div class="accordion" id="createGoal">
  <div class="card">
    <div class="card-header" id="headingMED">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#MED" aria-expanded="true" aria-controls="MED">
          Minimum Effective Date
        </button>
      </h2>
    </div>

    <div id="MED" class="collapse show" aria-labelledby="headingMED" data-parent="#createGoal">
      <div class="card-body">
      Create a rule which includes any goal that has a minimum effective date N days behind.
      


<form method="POST" action="CreateGoal">
<br>
    {{ forms["MED"].csrf_token }}
    {{ forms["MED"].hidden_tag() }}
    {{ forms["MED"].rule_name.label }} {{ forms["MED"].rule_name() }}<br>
    {{ forms["MED"].number_days.label }} {{ forms["MED"].number_days() }}
    <br>
    {{ forms["MED"].submit1() }}
</form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingED">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ED" aria-expanded="false" aria-controls="ED">
          Effective Date
        </button>
      </h2>
    </div>

    <div id="ED" class="collapse" aria-labelledby="headingED" data-parent="#createGoal">
      <div class="card-body">
      Create a rule which includes any goal that has an effective date N days behind for a chosen schedule.
      <form method="POST" action="CreateGoal">
<br>
    {{ forms["ED"].csrf_token }}
    {{ forms["ED"].hidden_tag() }}
    {{ forms["ED"].rule_name.label }} {{ forms["ED"].rule_name() }}<br>
    {{ forms["ED"].number_days.label }} {{ forms["ED"].number_days() }}<br>
    {{ forms["ED"].schedule.label }} {{ forms["ED"].schedule() }}
    <br>
    {{ forms["ED"].submit2() }}
</form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingGICT">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#GICT" aria-expanded="true" aria-controls="GICT">
          Goal Increment Completed (Today)
        </button>
      </h2>
    </div>

    <div id="GICT" class="collapse" aria-labelledby="headingGICT" data-parent="#createGoal">
      <div class="card-body">
      Create a rule which includes any goal that has not completed the goal increment (based on where it should be today).
      


<form method="POST" action="CreateGoal">
<br>
    {{ forms["GICT"].csrf_token }}
    {{ forms["GICT"].hidden_tag() }}
    {{ forms["GICT"].rule_name.label }} {{ forms["GICT"].rule_name() }}<br>
    {{ forms["GICT"].schedule.label }} {{ forms["GICT"].schedule() }}<br>
    <br>
    {{ forms["GICT"].submit3() }}
</form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
